<div class='container mb-5 mt-5'>
    <h2>Filter Items</h2>
    <div class="input-group ">
        <input 
            type="text" id="filter-input" class="form-control" [(ngModel)]="filterValue" 
            placeholder="Filter pattern" aria-label="Filter pattern" aria-describedby="button-addon"
        >
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon" (click)="setFilter()">Filter</button>
        </div>
    </div>
    <div class="form-check">
        <input #favoriteCheck class="form-check-input" type="checkbox" ([ngModel])="isFavorite" (change)="onFavoriteChange($event)" id="favoriteCheck">
        <label class="form-check-label" for="favoriteCheck">
            Show favorite
        </label>
    </div>
</div>