
<div *ngIf='!!item; else elseBlock' class="card" style="width: 18rem;">
    <div class="img-cover" [ngStyle]="{'background-image': 'url(' + item.cover + ')'}"></div>
    <!-- <img class="card-img-top" [src]="item.cover" alt="Card image cap"> -->
    <div class="card-body">
        <h5 class="card-title">{{item.name || ""}}</h5>
        <p class="card-text">{{item.description | cropChar}}</p>
    </div>
    <div class="card-bottom">
        <a href="#" class="btn btn-primary">Go somewhere</a>
        <app-favorite-icon [isFavorite]="item.isFavorite" (onChange)="favoriteChange($event)"></app-favorite-icon>
    </div>
</div>
<ng-template #elseBlock>gallery have no items</ng-template>