.card {
    margin-bottom: 20px;
}
.img-cover {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.card-body {
    min-height: 200px;
}

.card-bottom {
    padding: 0 16px 16px 16px;
    a {
        float: left;
    }
    app-favorite-icon {
        margin-top: 8px;
        float: right;
    }
    
}
