<div class="container">
    <app-filter></app-filter>
    <app-item-list></app-item-list>
    <button *ngIf="!isFavorite && !isMaxPage" (click)='loadMore()' class="btn btn-primary">Load more...</button>
</div>
