<div class = "container" >
    <div class ="row">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of selectedItems | async; trackBy: trackByFn">
            <app-list-item [item]="item" ></app-list-item>
        </div>    
    </div>
</div>
    